### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Maven ###
*.mvn
target
logs
log
**/target
**/logs
**/log

### Eclipse ###
.project
.classpath
.settings

### Mybatis ###
**/mybatis.properties
**/myGeneratorConfig.xml